Source: qtictactoe
Section: games
Priority: optional
Maintainer: Dawid Dziurla <dawidd0811@gmail.com>
Build-Depends: debhelper (>=9), qtbase5-dev
Standards-Version: 3.9.6
Homepage: https://github.com/dawidd6/qtictactoe

Package: qtictactoe
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple tictactoe game
 Simple tictactoe game
